In [6]:
import pandas as pd
import os

#fp="c:"

ci_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

cc_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

identifiers = pd.read_csv(ci_filepath)

characteristics = pd.read_csv(cc_filepath)

In [13]:
#identifiers.info()

#characteristics.info()

identifiers.head()  #shows header data

#strftime
#identifiers['PersonBirthDate_dt'] = pd.todatetime(identifiers['PersonBirthDate'], format="%Y-%m-%d" )  #add a new date column  using a pandas function

#identifiers.info()

# strftime  - below is the standard for converting dates
identifiers['PersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")

identifiers['ExpectedPersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")

identifiers['PersonDeathDate_dt'] = pd.to_datetime(identifiers['PersonDeathDate'], format="%Y-%m-%d", errors='coerce')

identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   PersonBirthDate_dt          332 non-null    datetime64[ns]
 10  ExpectedPersonBirthDate_dt  332 non-null    datetime64[ns]
 11  PersonDeathDate_dt          20 non-null     datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(5)
memory usage: 31.3+ KB

In [25]:
# dictionary of lists
##child_info = pd.DataFrame({'childID': ['id1', 'id2', 'id3']}, 'Age at first contact':[6,12,11])

child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at first contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

#child_info

# list of dictionaries
nhs_numbers = pd.DataFrame([{'ChildId':'id1',
                             'NHS Number':'303'},
                             {'ChildId':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},])

nhs_numbers

  ChildId NHS Number
0     id1        303
1     id2     3u5029
2     id3       gqw3
3     id4     avsgvb
4     id5     varwvw

In [27]:

from dateutil.relativedelta import relativedelta

child_info['Birthday_dt'] = pd.to_datetime(child_info['Birthday'], dayfirst=True)

# relativedelta(pd.to_datetime("today"), row)

child_info['Age'] = child_info['Birthday_dt'].apply(lambda row: relativedelta(pd.to_datetime("today"), row).years)

child_info

  ChildId  Age at first contact SEX    Birthday CP Plan? Birthday_dt  Age
0     id1                     6   M  01/01/2002        Y  2002-01-01   23
1     id2                    12   m  02/02/2003        n  2003-02-02   22
2     id3                    11   F  01/01/2000        N  2000-01-01   25
3     id4                     1      03/03/2023       No  2023-03-03    2
4     id5                    19   F  06/01/2012      yES  2012-01-06   13

In [36]:
import openpyxl

filepath = r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx"

df = pd.read_excel(filepath)

In [ ]:
# identifiers = identifiers.merge(characteristics, on='LAchildID', how='left', suffixes=['_ident', '_char'])

identifiers = identifiers.merge(characteristics, on=['LAchildID', 'Unnamed: 0'], how='left')

identifiers

#need to restart the kernel for this to work

KeyError: 'Unnamed: 0'