In [ ]:
# Using Functions in Python

def fn(phrase):
    x = 1
    print(phrase)

fn(phrase='Hello, World')
fn('I am Eric!')

Hello, World
I am Eric!

In [10]:
 
def fxy(x=90, y=10):
    print(f'The sum of {x} and {y} is {x + y}')

fxy(x=7, y=13)
fxy(y=22, x=12)
fxy(9, 12)
fxy()
fxy(y=9)

# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function 
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer

def divide_nums(x, y):
    if x > y:
        print(x / y)
    else:
        print(y / x)

divide_nums(10, 11)
divide_nums(100,20)

The sum of 7 and 13 is 20
The sum of 12 and 22 is 34
The sum of 9 and 12 is 21
The sum of 90 and 10 is 100
The sum of 90 and 9 is 99
1.1
5.0

In [13]:
def divide_nums_return(x, y):
    if x > y:
        z = x / y
    else:
        z = y / x
    return z

ans = divide_nums_return(10, 100)
print(ans)

10.0

In [14]:
 
special_number = 10 # variables defined outside of functions can be used everywhere (gloabl scope)
def divide_nums_return(x, y):
    # Variables defined inside functions can only be used inside functions (local scope)
    if x > y:
        z = x / y
    else:
        z = y / x
    print(special_number)
    return z
ans = divide_nums_return(10, 100)
print(ans)

10
10.0

In [15]:
 
def sum_prod(i, j):
    sum = i + j
    prod = i * j
    return sum, prod
# fucntions returning more than one variable can return them as a 
# single tuple
answer = sum_prod(44, 97)
print(answer)
print(type(answer))

# or as multiple variables
ans_sum, ans_prod = sum_prod(34, 98)
print(ans_sum)
print(ans_prod)
print(type(ans_sum))

# write a function that returns x / y and x - y, 
# always dividing the biggest by the smallest number 
# and always taking the smallest fromt he biggest

(141, 4268)
<class 'tuple'>
132
3332
<class 'int'>

In [ ]:
# write a function that returns x / y and x - y, 
# always dividing the biggest by the smallest number 
# and always taking the smallest fromt he biggest

def sums(j, k):
    if j > k:
        division_answer = j / k
        sub_answer = j - k
    else:
        division_answer = k / j
        sub_answer = k - j
    return division_answer, sub_answer

In [ ]:
# alternative code to the previous code above

def sums(j, k):
    if j > k:
        return j / k, j - k
    else:
        return k / j, k - j

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')

#df  #This outputs the data from the dataset

def ethnic_check(ethnicity):
    if ethnicity[0] == "W":
        return 'White'
    else:
        return 'Not White'

In [26]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')

def ethnic_check(ethnicity):
    if ethnicity[0] == "W":
        return 'White'
    else:
        return 'Not white'
    
df['Ethnic subgroup'] = df['Ethnicity'].apply(ethnic_check)

df[['Ethnicity', 'Ethnic subgroup']]

    Ethnicity Ethnic subgroup
0        WIRT           White
1        WROM           White
2        AOTH       Not white
3        MWBC       Not white
4        APKN       Not white
..        ...             ...
327      WOTH           White
328      WROM           White
329      BCRB       Not white
330      AIND       Not white
331      WBRI           White

[332 rows x 2 columns]

In [27]:
# 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
# write a function that calculates ages based on the data, and returns a new column in age range buckets
# 0-5, 6-11, 12-17, 18+

# import data
# write functions
# using conditionals
# chaqnge to date
# calculation on df columns
# making new column

 
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')
def age_buckets(row):
    bday = pd.to_datetime(row, format="%Y-%m-%d")
    today = pd.to_datetime('today')
    # age = (today - bday)/pd.Timedelta(365.25, 'D')
    if bday + pd.DateOffset(years=6) > today:
        return '0-5 years'
    elif bday + pd.DateOffset(years=12) > today:
        return '6-11 years'
    elif bday + pd.DateOffset(years=18) > today:
        return '12-17 years'
    else:
        return '18+'
        
df['Age Bucket'] = df['PersonBirthDate'].apply(age_buckets)
df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate   Age Bucket
0        2019-12-06   6-11 years
1        2011-04-27  12-17 years
2        2017-06-06   6-11 years
3        2014-10-03   6-11 years
4        2019-09-25   6-11 years
..              ...          ...
327      2010-07-07  12-17 years
328      2018-08-14   6-11 years
329      2021-12-09    0-5 years
330      2013-07-23  12-17 years
331      2021-10-25    0-5 years

[332 rows x 2 columns]