In [8]:
x = 3
y = 9
z = x + y
print (z)

12

In [9]:
i = 1
j = 2
print(i + j)

3

In [ ]:
num_1 = 5

print(num_1)

5

In [ ]:
num_1 = 5

num_2 = 10

num_1 = 10

answer = num_1 + num_2

answer

var_1 = 'single quotes'

var_2 = "isn't"

var_3 = 'William said "Hello"'

print

# int, integer
# str, string
# float

In [25]:
num_1 = 5.0

num_2 = 10

answer = num_2 /  + num_1

# answer = answer will give you the data type

answer_str = Float(answer)


print

# int, integer
# str, string
# float
# * times
# / divide
# + plus
# - minus

type(answer_str)

# in this cell, initialise two numeric variables and find their product
# using the * operator for multiplication and assign this to a new variable.
# Print the new variable
 
# The radius of a circle is 2, assume that Pi is 3.14. Assign both of these
# to suitably named variables and find the area of the circle.
# We can find the area of a circle by finding the product of Pi with the radius squared.
# You probably don't know how to square a number in Python yet, so use Google to work it out!

NameError: name 'Float' is not defined

In [34]:
# in this cell, initialise two numeric variables and find their product
# using the * operator for multiplication and assign this to a new variable.
# Print the new variable
 
i = 12
j = 15
k = i * j

print(k)

# The radius of a circle is 2, assume that Pi is 3.14. Assign both of these
# to suitably named variables and find the area of the circle.
# We can find the area of a circle by finding the product of Pi with the radius squared.
# You probably don't know how to square a number in Python yet, so use Google to work it out!

r = 2
pi = 3.14

area = (pi * r) ** 2

area

#area should equal 39.4384 not 12.56 being shown

180

39.4384

In [38]:
name = "Will"
job = "Data mamager"

name_job = f"Hi my name is {name}, and I am a {job}"

name_job

'Hi my name is Will, and I am a Data mamager'

In [ ]:
phrase = name_job

#phrase

phrase[11]

# Strings are iterable
# iterate over
# a thing that has parts that can be accessed one at a time.
# counting in python starts at 0

#[start : stop]
# start is inclusive
# stop is exclusive

#to start from the right use a minus

'i'

In [48]:
num_1 = num_1 + 1

num_1

9.0

In [50]:
filename = "ssda903_list_1.csv"

short_fn = filename[:-4]

#short_fn = filename[8:-4]

short_fn

'ssda903_list_1'

In [52]:
''' 
/ - divide
* - times
type() - checks the type of data
print() - prints the data
'''
filename = "ssda903_list_1.csv"

short_fn = filename[:-4]

#short_fn = filename[8:-4]

short_fn

'ssda903_list_1'

In [ ]:
'''  
The three dotâ€™s seen at the start and the end can be used to save comments and ignore data as code.

/ - divide
* - times
type() - checks the type of data
print() - prints the data
'''
filename = "ssda903_list_1.csv"

short_fn = filename[:-4]

#short_fn = filename[8:-4]

short_fn

'ssda903_list_1'

In [3]:
import pandas as pd

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES