In [1]:
 
import pandas as pd
# dictionary of lists
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at first contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
# list of dictionaries
nhs_numbers = pd.DataFrame([{'ChildId':'id1',
                             'NHS Number':'303'},
                             {'ChildId':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},])
nhs_numbers

  ChildId NHS Number
0     id1        303
1     id2     3u5029
2     id3       gqw3
3     id4     avsgvb
4     id5     varwvw

In [ ]:
#Session 5 for real starts here

In [ ]:
https://github.com/data-to-insight/ERN-sessions/raw/main/data/903_xlsx_errors.xlsx%22

In [8]:
import pandas as pd

filepath = "https://github.com/data-to-insight/ERN-sessions/raw/main/data/903_xlsx_errors.xlsx" 

dfs = pd.read_excel(filepath, sheet_name=None)

# dfs.keys()

dfs['header'].head()

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN

In [9]:
# 102 - date of birth is not a valid date
# d/m/y format
# to_datetime() - format argument - "%d/%m/%Y"
# errors="coerce" - NA 

header = dfs['header']

header['DOB_dt'] = pd.to_datetime(header['DOB'], format="%d/%m/%Y", errors='coerce')

invalid_dobs = header['DOB_dt'].isna()

error_rows = header[invalid_dobs]

error_rows

# 115 - Date of Local Authority's (LA) decision that a child 
# should be placed for adoption is not a valid date."
# table = place_for_adoption, col = DATE_PLACED

            CHILD  SEX    DOB ETHNIC    UPN  MOTHER MC_DOB DOB_dt
2675  bad_entry_1    7  oops!  Alien  UPDOG     NaN    NaN    NaT

In [ ]:
#Solution to fix the DOB error

p4a = dfs['place_for_adoption']   #fill in the rest of the code below from the screen shots

p4a['date_placed_dt'] = pd.tp_datetime(p4a['DATE_PLACED'], format="%d/%m/%Y, error="coerce")
invalid_dp = p4a[p4a]

In [10]:
 
ethnicity_codes = [
        "WBRI",
        "WIRI",
        "WOTH",
        "WIRT",
        "WROM",
        "MWBC",
        "MWBA",
        "MWAS",
        "MOTH",
        "AIND",
        "APKN",
        "ABAN",
        "AOTH",
        "BCRB",
        "BAFR",
        "BOTH",
        "CHNE",
        "OOTH",
        "REFU",
        "NOBT",
    ]
 
 # .isin()

 error_rows = header[header['ethnic'].isin(ethnicity_codes)]

IndentationError: unexpected indent (3199453591.py, line 26)

In [11]:
 
ethncity_codes = [
        "WBRI",
        "WIRI",
        "WOTH",
        "WIRT",
        "WROM",
        "MWBC",
        "MWBA",
        "MWAS",
        "MOTH",
        "AIND",
        "APKN",
        "ABAN",
        "AOTH",
        "BCRB",
        "BAFR",
        "BOTH",
        "CHNE",
        "OOTH",
        "REFU",
        "NOBT",
    ]
 
 
 
# 103 - The ethnicity code is either not valid or has not been entered.
# header, ETHNIC - empty, or not a valid code
ethnicity_codes = [
        "WBRI",
        "WIRI",
        "WOTH",
        "WIRT",
        "WROM",
        "MWBC",
        "MWBA",
        "MWAS",
        "MOTH",
        "AIND",
        "APKN",
        "ABAN",
        "AOTH",
        "BCRB",
        "BAFR",
        "BOTH",
        "CHNE",
        "OOTH",
        "REFU",
        "NOBT",
    ]
# .isin()
error_rows = header[~header['ETHNIC'].isin(ethnicity_codes)]
error_rows

            CHILD  SEX    DOB ETHNIC    UPN  MOTHER MC_DOB DOB_dt
2675  bad_entry_1    7  oops!  Alien  UPDOG     NaN    NaN    NaT

In [21]:
# 114 - Data entry to record the status of former carer(s) of an adopted child is invalid.
# table - ad1
# FOSTER_CARE
# valid codes 0, 1

# 114 - Data entry to record the status of former carer(s) of an adopted child is invalid.
# table - ad1
# FOSTER_CARE
# valid codes 0, 1

ad1 = dfs['ad1']

ad1['FOSTER_CARE'] = ad1['FOSTER_CARE'].astype('str')

error_rows = ad1[~ad1['FOSTER_CARE'].isin(["0", "1"])]
error_rows

,CHILD,DOB,DATE_INT,DATE_MATCH,FOSTER_CARE,NB_ADOPTR,SEX_ADOPTR,LS_ADOPTR
29,bad_entry,datedate,notdate,datenot,777,Q,Will,let's go

In [ ]:
 
# 184 - Date of decision that a child should be placed for adoption is before the child was born.
# DOB - only in header, DATE_PLACED - p4a
# find rows where DATE_PLACED is before DOB -> DATE_PLACED < DOB
# DOB and DATE_PLACED as dateitme objects, merge header and p4a
# when making a selecon of more than one column pass a list of columns

merged_df = p4a.merge(header[['CHILD', 'DOB_dt']], on='CHILD', how='left')
error_rows = merged_df[merged_df['DOB_dt'] > merged_df['DATE_PLACED_dt']]
error_rows

# 302 - First episode starts before child was born.
# tables are header and episodes
# DOB from header and DECOM from episodes

NameError: name 'p4a' is not defined

In [23]:
# 302 - First episode starts before child was born.
# tables are header and episodes
# DOB from header and DECOM from episodes
 
episodes = dfs['episodes']
 
episodes['DECOM_dt'] = pd.to_datetime(episodes['DECOM'], dayfirst=True)
 
df = episodes.merge(header[['CHILD', 'DOB_dt']], how='left', on='CHILD')
 
error_rows = df[df['DECOM_dt'] < df['DOB_dt']]
 
error_rows

Empty DataFrame
Columns: [CHILD, DECOM, RNE, LS, CIN, PLACE, PLACE_PROVIDER, DEC, REC, REASON_PLACE_CHANGE, HOME_POST, PL_POST, URN, DECOM_dt, DOB_dt]
Index: []

In [ ]:
# sort_values()
# drop_duplicates

epi_ordered = episodes.sort_values(['CHILD', 'DECOM_dt'], ascending=True)

first_epi = epi_ordered.drop_duplicates('CHILD', keep='first')

#episodes

first_epi

#Use "Stack Overflow" on the web for examples of sample code
#use pygwalker

,CHILD,DECOM,RNE,LS,CIN,PLACE,PLACE_PROVIDER,DEC,REC,REASON_PLACE_CHANGE,HOME_POST,PL_POST,URN,DECOM_dt
4801,32,12/02/2017,T,J1,N3,K2,PR1,15/04/2017,E3,NaN,ED8 1OX,WI5 9CC,7876040,2017-02-12
4041,982,27/11/2016,P,E1,N7,A5,PR3,07/10/2017,X1,LAREQ,EP10 1XZ,WI5 8XU,6162294,2016-11-27
437,1243,02/01/2017,L,V4,N5,Z1,PR0,18/05/2017,E9,NaN,EC5 5MZ,WC30 9OS,7270736,2017-01-02
1794,1407,28/11/2015,L,L2,N3,P2,PR1,29/04/2017,X1,ALLEG,EG16 2ZL,WU19 1JS,6492318,2015-11-28
3848,2431,20/02/2016,S,V2,N3,P2,PR5,18/11/2017,X1,APPRR,EK12 3JI,WV1 1FJ,5227516,2016-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,997201,18/05/2016,P,L3,N4,T3,PR3,07/06/2017,X1,CUSTOD,EL12 3BA,WV22 6GC,3780837,2016-05-18
2766,997445,20/06/2016,P,J1,N2,U3,PR3,24/09/2017,E48,NaN,EP2 2VO,WE6 1FZ,3786993,2016-06-20
154,998192,27/11/2015,P,C2,N2,P1,PR5,08/07/2017,X1,ALLEG,EJ11 4FS,WT21 5RE,6722585,2015-11-27
156,998777,11/10/2015,P,C2,N2,U1,PR2,17/03/2018,X1,CLOSE,ER24 5VS,WJ7 5PQ,1112628,2015-10-11
323,999397,17/02/2017,L,L1,N7,P2,PR1,29/08/2017,X1,NaN,EC5 2KK,WV19 3SY,3534004,2017-02-17