In [ ]:
#Pandas - Written in a language called FORTRAN

import pandas as pd

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

In [1]:
var_1 = "words" # string
var_2 = 10 # integer
var_3 = 10.0 # float
var_4 = [10, 10.0, "10", var_3, [var_1, var_2]] # list
var_5 = {"key_1":var_1,
         "key_2":var_4} # dictionary
 
var_5["key_3"] = "Value 3"
 
print(var_5["key_1"])
print(var_5.items())
print(var_5.keys())
print(var_5.values())

words
dict_items([('key_1', 'words'), ('key_2', [10, 10.0, '10', 10.0, ['words', 10]]), ('key_3', 'Value 3')])
dict_keys(['key_1', 'key_2', 'key_3'])
dict_values(['words', [10, 10.0, '10', 10.0, ['words', 10]], 'Value 3'])

In [ ]:
#Pandas - Written in a language called FORTRAN
import pandas as pd #importing pandas with the alias pd
import os # allows you to use filepaths on your operation system such as # filepath = "c://shared_drive/list_9.csv" # example of reading from

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

house_prices = pd.read_csv(filepath) #pd.read_excel() for reading excels

type(house_prices) #DataFrame pandas word for tabular data

# standard variable name for dataframes is df, # example different nsme list_1_df

# house_prices  # executes house prices could use print but not recommended

# house_prices.info() # gives table info

# house_prices.head(20) # shows top 20 rows

# house_prices.tail(10) # shows bottom 10 rows

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02,10.11,19273,3.94,28.59
2,United Kingdom,1980-03,10.11,19273,3.94,28.59
3,United Kingdom,1980-04,10.51,20044,4.00,24.15
4,United Kingdom,1980-05,10.51,20044,4.00,24.15
5,United Kingdom,1980-06,10.51,20044,4.00,24.15
6,United Kingdom,1980-07,10.94,20857,4.05,19.98
7,United Kingdom,1980-08,10.94,20857,4.05,19.98
8,United Kingdom,1980-09,10.94,20857,4.05,19.98
9,United Kingdom,1980-10,10.96,20897,0.19,12.71
10,United Kingdom,1980-11,10.96,20897,0.19,12.71
11,United Kingdom,1980-12,10.96,20897,0.19,12.71
12,United Kingdom,1981-01,10.98,20938,0.19,8.64
13,United Kingdom,1981-02,10.98,20938,0.19,8.64
14,United Kingdom,1981-03,10.98,20938,0.19,8.64
15,United Kingdom,1981-04,11.28,21507,2.72,7.29
16,United Kingdom,1981-05,11.28,21507,2.72,7.29
17,United Kingdom,1981-06,11.28,21507,2.72,7.29
18,United Kingdom,1981-07,11.46,21852,1.61,4.77
19,United Kingdom,1981-08,11.46,21852,1.61,4.77

In [17]:
import pandas as pd #importing pandas with the alias pd

# filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

ci = pd.read_csv(filepath) # need to check this CI code as it is not working, its some shortcut to the filepath

# print(type(ci))
# print(ci.info())

# ci.tail()

In [18]:
# Pandas - Written in a language called FORTRAN
import pandas as pd #importing pandas with the alias pd
import os # allows you to use filepaths on your operation system such as # filepath = "c://shared_drive/list_9.csv" # example of reading from

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

house_prices = pd.read_csv(filepath) #pd.read_excel() for reading excels

type(house_prices) #DataFrame pandas word for tabular data

# standard variable name for dataframes is df, # example different nsme list_1_df

# house_prices  # executes house prices could use print but not recommended

# house_prices.info() # gives table info

# house_prices.head(20) # shows top 20 rows

# house_prices.tail(10) # shows bottom 10 rows
 
# datetime objects
# format argument for datetimes strfstimes
house_prices["Period_dt"] = pd.to_datetime(house_prices["Period"], format="%Y-%m")
house_prices["Period_dt"].info() # check type has changed
house_prices["Period_dt"]
# 01/01/2025 %d/%m%Y
# 01/01/25 %d/%m/%y
# 30-12-2025 %d-%m-%Y
# 30122025 %d%m%Y

<class 'pandas.core.series.Series'>
RangeIndex: 523 entries, 0 to 522
Series name: Period_dt
Non-Null Count  Dtype
--------------  -----
523 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.2 KB

0     1980-01-01
1     1980-02-01
2     1980-03-01
3     1980-04-01
4     1980-05-01
         ...
518   2023-03-01
519   2023-04-01
520   2023-05-01
521   2023-06-01
522   2023-07-01
Name: Period_dt, Length: 523, dtype: datetime64[ns]

In [20]:
ci["PersonBirthDate_dt"] = pd.to_datetime(ci["PersonBirthDate"], format="%Y-%m-%d")
ci["ExpectedPersonBirthDate_dt"] = pd.to_datetime(ci["ExpectedPersonBirthDate"], format="%Y-%m-%d")

ci["PersonDeathDate_dt"] = pd.to_datetime(ci["PersonDeathDate"], format="%Y-%m-%d", errors="coerce")

KeyError: 'PersonBirthDate'